/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  background-image: -webkit-gradient(linear, left top, right top, from(#5d4ba4), to(#6f359c));
  background-image: -o-linear-gradient(left, #5d4ba4, #6f359c);
  background-image: linear-gradient(to right, #5d4ba4, #6f359c);
  width: 100vw;
  height: 100vh;
}

.container {
  width: 500px;
  height: 450px;
  margin: auto auto;
  background-color: #3d1568;
  margin-top: 5rem;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logos p {
  color: #8d79a3;
  font-family: "Gotu";
  font-size: 0.8rem;
}
.logos p:first-child {
  margin-right: 1rem;
}

.fa-facebook-f {
  color: #4b6ea9;
  padding: 1rem 1.5rem;
  z-index: 1;
}

.fa-twitter {
  color: #65bbf2;
  padding: 1rem 1rem;
  position: relative;
  right: 1rem;
  z-index: 10;
  background-color: #3d1568;
}

.fab {
  border-radius: 50%;
  border: 2px solid #662967;
  font-size: 250%;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #662967;
  font-weight: bold;
}
.form-input input[type=text] {
  border: 2px solid #662967;
  padding: 0.5rem;
  background-color: #371260;
  width: 50%;
  color: #8d79a3;
  border-radius: 3px;
}
.form-input input[type=text]:first-child {
  margin-bottom: 1rem;
}
.form-input p {
  padding-bottom: 1rem;
}
.form-input input[type=submit] {
  background-color: #14b266;
  width: 55%;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  width: 100%;
  border: 1px solid #FFA07A;
  overflow: hidden;
  margin: 1.5rem;
}

input[type=button] {
  background-color: #ffce00;
  width: 55%;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  color: black;
}
